@tailwind base;
@tailwind components;
@tailwind utilities;

#__next,
body {
  @apply h-full;
}

::-moz-selection {
  /* Code for Firefox */
  color: black;
  font: small-caption;
  letter-spacing: 1rem;
  background-color: #777;
}

::selection {
  color: black;
  font: small-caption;
  letter-spacing: 1rem;
  background-color: #777;
}

input[type="password"] {
  color: black;
  font-family: Verdana;
  letter-spacing: 0.125em;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.disable-animate-input {
  --animation-input: 0;
}

.wrap-anywhere {
  overflow-wrap: anywhere;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #aaa;
  -webkit-box-shadow: none;
  box-shadow: inset 0 0 20px 20px #fff;
}

li.li-right {
  float: right;
}

.spinner {
  animation: rotateMe 2s infinite;
}

.btn-disabled,
.btn-disabled:hover,
.btn[disabled],
.btn[disabled]:hover {
  color: white;
  background-color: rgb(212, 212, 216);
}

@keyframes rotateMe {
  0% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(0);
  }
}
